In [2]:
import numpy as np
import pandas as pd


import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('C:/Users/RW565TZ/Practice/moviereviews.tsv',sep='\t')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [6]:
len(df)

2000

In [7]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
blanks=[]

for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [8]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [9]:
df.drop(blanks,inplace=True)

In [10]:
len(df)

1938

In [33]:
from sklearn.model_selection import train_test_split

X =df['review']
y =df['label']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [38]:
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer

In [39]:
text_clf = Pipeline([('tdidf',TfidfVectorizer()),('clf',LinearSVC())])

In [40]:
text_clf.fit(X_train, y_train)

Pipeline(steps=[('tdidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [41]:
y_pred=text_clf.predict(X_test)

In [42]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [43]:
print(confusion_matrix(y_test,y_pred))

[[235  47]
 [ 41 259]]

In [44]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         neg       0.85      0.83      0.84       282
         pos       0.85      0.86      0.85       300

    accuracy                           0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [45]:
print(accuracy_score(y_test,y_pred))

0.8487972508591065